<div class="wrapper">
  <div class="page-wrapper">
    <!-- Header -->
    <header class="main-header" id="header">
      <nav class="navbar navbar-static-top navbar-expand-lg">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!-- search form -->
        <div class="search-form d-none d-lg-inline-block">
          <div class="input-group">
            <button type="button" name="search" id="search-btn" class="btn btn-flat">
              <i class="mdi mdi-magnify"></i>
            </button>
            <input type="text" name="query" id="search-input" class="form-control" placeholder="'button', 'chart' etc."
              autofocus autocomplete="off" />
          </div>
          <div id="search-results-container">
            <ul id="search-results"></ul>
          </div>
        </div>

        <div class="navbar-right">
          <ul class="nav navbar-nav">

            <li class="dropdown notifications-menu">
              <button class="dropdown-toggle" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">You have 5 notifications</li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-plus"></i>
                    New user registered
                    <span class="font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i>
                      10 AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-remove"></i>
                    User deleted
                    <span class="font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i>
                      07 AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-chart-areaspline"></i>
                    Sales report is ready
                    <span class="font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i>
                      12 PM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-account-supervisor"></i>
                    New client
                    <span class="font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i>
                      10 AM</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-server-network-off"></i>
                    Server overloaded
                    <span class="font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i>
                      05 AM</span>
                  </a>
                </li>
                <li class="dropdown-footer">
                  <a class="text-center" href="#"> View All </a>
                </li>
              </ul>
            </li>
            <!-- User Account -->
            <li class="dropdown user-menu">
              <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/nikeshoppingapp-rnfirebase.appspot.com/o/haunh270401.jpg?alt=media&token=0f10b837-1ee6-466f-a0ad-efdc9c50119c"
                  class="user-image" alt="User Image" />
                <span class="d-none d-lg-inline-block">Abdus Salam</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <!-- User image -->
                <li class="dropdown-header">
                  <img src="assets/img/user/haunh270401.jpg" class="img-circle" alt="User Image" />
                  <div class="d-inline-block">
                    Abdus Salam
                    <small class="pt-1">abdus@gmail.com</small>
                  </div>
                </li>
                <li>
                  <a href="profile.html">
                    <i class="mdi mdi-account"></i>
                    My Profile
                  </a>
                </li>
                <li>
                  <a href="email-inbox.html">
                    <i class="mdi mdi-email"></i>
                    Message
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-diamond-stone"></i>
                    Projects
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="mdi mdi-settings"></i>
                    Account Setting
                  </a>
                </li>

                <li class="dropdown-footer">
                  <a href="/logout">
                    <i class="mdi mdi-logout"></i>
                    Log Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

    </header>

    <div class="content-wrapper">
      <div class="form-insert card card-table-border-none">
        <div class="title-addproduct">
          <h1>Edit Banner</h1>
        </div>

        <form action="/products/banner/editBanner/{{bannerEdit._id}}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Banner Name: </label>
            <input  type="text" class="form-control" placeholder="Enter name"
              id="bannerName" name="bannerName" value="{{bannerEdit.bannerName}}" />
            <p id="productNameError" style="color: red;"></p>
          </div>
          <div class="form-group">
            <label for="idLoaiSP">Category</label>
            <select class="form-control" id="idLoaiSP" name="idLoaiSP">
              {{#each loaiSP}}
              {{#if (soSanh this._id bannerEdit.idLoaiSP)}}
              <option selected value="{{this._id}}">{{this.nameCategory}}</option>
              {{else}}
              <option value="{{this._id}}">{{this.nameCategory}}</option>
              {{/if}}
              {{/each}}

            </select>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="position">Date:</label>
              <input id="datepicker" width="276" name="createdDate"
                value="{{formatDate bannerEdit.createdDate}}" />
              <p id="dateError" style="color: red;"></p>
            </div>
          </div>
          <div class="image-product form-group">
            <label class="form-label" for="customFile">Image banner:</label>
            <input type="file" class="form-control" id="image" name="imageUrl" />
          </div>
          <div class="image-product form-group">
            <img style="max-width: 500px; max-height: 500px; width: auto; height: auto;" id="showImage"
              src="http://localhost:9000/images/{{bannerEdit.imageUrl}}" alt="your image" class="col-12" />
          </div>
          <button id="btn_submit" type="submit" class="btn btn-success col-12">Submit</button>
        </form>

      </div>
      <footer class="footer mt-auto">
        <div class="copyright bg-white">
          <p>
            &copy;
            <span id="copy-year">2019</span>
            Copyright Sleek Dashboard Bootstrap Template by
            <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
          </p>
        </div>
        <script>
          var d = new Date(); var year = d.getFullYear();
          document.getElementById("copy-year").innerHTML = year;
        </script>
      </footer>

    </div>
  </div>

</div>